/*
Theme Name: Astra Child
Theme URI: https://henryhateshiking.com
Template: astra
Author: Henry Hates Hiking
Author URI: https://wpastra.com/about/?utm_source=theme_preview&utm_medium=author_link&utm_campaign=astra_theme
Description: Custom child theme for Henry Hates Hiking
Version: 1.0.0.1769010820
Updated: 2026-01-21 15:53:40

*/

/* ===============================================
   GLOBAL SPACING & RESET
   =============================================== */

